<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]GetBetter</title>
    <link rel="icon" type="image/svg" href="~/assets/logo.svg">

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/css/main_styles.css" />
    <link rel="stylesheet" href="~/css/main_page.css" />
    <link rel="stylesheet" href="~/css/media_main_page.css" />
</head>
<body>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="~/js/header_foos.js"></script>
    <script src="~/js/main_page_foos.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>